<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
    <ion-card-header>
        <ion-card-title>What I think about music</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p>Music is the best thing that has ever happened to mankind is what I feel. When you are low or when you are happy music is like a companion,the vibes each song gives out is unique.</p>
    </ion-card-content>
</ion-card>
	<ion-card>
    <ion-card-header>
        <ion-card-title>What music means to me</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p>Music is peace, happiness and soul. Music gives me company through the sad and the happy times I have been through. It is one way in which I can connect to myself and forget everything that is going around me.Imagine the world coming to an hault, all the busy, stressful and hard  days coming to a slow stop and you just want to escape from reality ,this is how music makes me feel.</p>
    </ion-card-content>
</ion-card>
	<ion-card>
    <ion-card-header>
        <ion-card-title>Influence</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p>My dad has been the biggest influence for me to get into music.He used to listen to Pink Floyd, The Beatles, Bob Marley, Bob Dylan, Michael Jackson and many more countless arists I cannot mention. His passion towards listening to reggae, pop and rock got me interested the second I started hanging around him. It all started with head nodding and feet thumping, then got into lisning to quality music</p>
    </ion-card-content>
</ion-card>
</ion-content>
