<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Follow me on Spotify
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>        
       <a href="https://open.spotify.com/collection/playlists"><i class="fab fa-spotify"></i> Krit Kondru</a>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>